**Datastructure**

1. What are data structures, and why are they important ?
      
      - Data structures in Python are specialized formats or containers used to store and organize data efficiently.
hey provide various ways to store, access, and manipulate data according to specific needs.
       
        Python, a versatile and popular programming language, provides a wide array of data structures to
accommodate various needs:
      * Data Handling
      * Organization
      * Efficiency
      * Flexibility
      * Built-in Tools
      * Custom Data Structures

2. Explain the difference between mutable and immutable data types with examples.
    - **Mutable data types**
These data types can be modified after they are created. For example, in Python, lists, dictionaries, and sets are mutable data types.
      **Immutable data types**
These data types cannot be changed after they are created. For example, in Python, strings, tuples, integers, and floats are immutable data types.
     
     **Example**
  
     **List :**
In Python, lists are mutable data types, which means they can be modified after they are created.
  
     **tuple :**
In Python, tuples are immutable data types, which means they cannot be modified after they are created.

3. What are the main differences between lists and tuples in Python ?
  - List vs Tuple in Python: Key Differences ExplainedThe main differences between lists and tuples in Python are that lists are mutable, while tuples are immutable. Lists can be modified, while tuples cannot. Tuples are also more memory efficient and faster than lists.

4.  Describe how dictionaries store data ?
     - Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

5. Why might you use a set instead of a list in Python ?
   - One of the main advantages of using sets in Python is that they are highly optimized for membership tests. For example, sets do membership tests a lot more efficiently than lists. In case you are from a computer science background, this is because the average case time complexity of membership tests in sets are O(1) vs O(n) for lists.
   The code below shows a membership test using a list.


# Initialize a list
possibleList = ['Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS', 'Java', 'Spark', 'Scala']

# Membership test
'Python' in possibleList
       
       Result true

6. vWhat is a string in Python, and how is it different from a list?
    - A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

7. How do tuples ensure data integrity in Python ?
    - Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

8. What is a hash table, and how does it relate to dictionaries in Python?
     - In Python, a hash table is a data structure that's implemented by the dictionary data type (\(dict\)). Hash tables store key-value pairs and are used to make data easily and quickly accessible.
     
      ****

9. Can lists contain different data types in Python ?
     - A list can also contain a mix of Python types including strings, floats, and booleans.

10.  Explain why strings are immutable in Python ?
    - Immutable strings greatly simplify memory allocation when compared with C strings: you don't guess at a length and over-allocate hoping you over-allocated enough.

11. What advantages do dictionaries offer over lists for certain tasks ?
   - Dictionaries offer faster lookups and are more flexible than lists for certain tasks:
     
     **Faster lookups**
         
         **Hash tables**:-
         Dictionaries use hash tables to implement lookups, which are faster than lists.
        
        ** Time complexity:-**
         Dictionaries have constant time complexity (\(O(1)\)), while lists have linear time complexity (\(O(n)\)
          **More flexible**
Storing complex data:- Dictionaries can store complex data structures like databases and graphs.

       Storing any type of data:- Dictionaries can store any type of data as both the key and the value.

     Generating key:value pairs:- Dictionaries make code easier to read when generating key:value pairs.

 12.Describe a scenario where using a tuple would be preferable over a list.
     
   - Tuples are generally faster and more memory-efficient than lists, making them better for fixed collections, especially as dictionary keys or when iteration speed is crucial.

13. How do sets handle duplicate values in Python ?
  - Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

14. How does the “in” keyword work differently for lists and dictionaries ?
    - In Python, the in and not in operators test membership in lists, tuples, dictionaries, and so on.
     
      The in operator can be use with list
    
      print(1 in (0, 1, 2))
         
         #True
         
         The in operator for dictionaries (dict) checks for the presence of a key.

           d = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

            print('key1' in d)
            # True

            print('value1' in d)
            # False

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, you cannot directly modify the elements of a tuple because tuples are considered "immutable" data structures, meaning once created, their elements cannot be changed; if you try to alter a tuple element, you will receive an error message.

16. What is a nested dictionary, and give an example of its use case ?
   - A nested dictionary is a dictionary that contains other dictionaries. It's a data structure in Python that can store data in multiple layers.
       Example 3:

# Python program to print Empty nested dictionary  
      dict = { 'dict1': { },'dict2': { }, 'dict3': { }}  
      print("Nested dictionary are as follows -")  
      print(dict)  
        The Output of the following Program

        Nested dictionary are as follows -

        {'dict1': {}, 'dict2': {}, 'dict3': {}}

17.  Describe the time complexity of accessing elements in a dictionary.
        - The time complexity of accessing an element in a Python dictionary is \(O(1)\) on average, but can be \(O(n)\) in the worst case. The time complexity depends on the size of the dictionary and the operation being performed.

 18. In what situations are lists preferred over dictionaries ?
       - f you need an ordered collection, like a sequence of user actions, lists are your go-to. On the other hand, when you need quick look-ups, like mapping usernames to user data, dictionaries are invaluable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. In older versions of Python (before 3.7), dictionaries did not preserve insertion order at all. This meant that when you accessed or printed the items, the order could vary, as dictionaries were optimized for fast lookups rather than maintaining order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
     - A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair.
Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.
The list allows duplicate items, while the dictionary does not allow any duplicate keys.
A list can store any data type. In contrast, keys in the dictionary can be of any immutable data type, and values can be of any data type.
Lists perform faster for ordered operations like sorting, while dictionaries perform faster for lookup operations

In [ ]:
#Write a code to create a string with your name and print it.
a =("Anukrati Soni")

In [ ]:
# Write a code to find the length of the string "Hello World".
text = ("Hello World")
print(len(text))

11

In [ ]:
# Write a code to slice the first 3 characters from the string "Python Programming".
string1 = "python programming"
string1[0:3]

'pyt'

In [ ]:
# Write a code to convert the string "hello" to uppercase.
str= "hello"
str.upper()

'HELLO'

In [1]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".
text= ("I like apple" )
text.replace("apple","orange")

'I like orange'

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it.
list1=([1,2,3,4,5])
list1

[1, 2, 3, 4, 5]

In [ ]:
#  Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1, 2, 3, 4]
list.append("10")
list

[1, 2, 3, 4, '10']

In [3]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list =  [1, 2, 3, 4, 5]
list.remove(3)
list

[1, 2, 4, 5]

In [4]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a', 'b', 'c', 'd']
list

['a', 'b', 'c', 'd']

In [5]:
 list [1]

'b'

In [8]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list.reverse()
print (list)

[50, 40, 30, 20, 10]

In [ ]:
# Write a code to create a tuple with the elements 10, 20, 30 and print it.
t = (10,20,30,)
type (t)

tuple

In [ ]:
t

(10, 20, 30)

In [ ]:
#  Write a code to access the first element of the tuple  ['a', 'b', 'c', 'd']
t1 = ('a','b','c','d')
type (t1)

tuple

In [ ]:
t1[0]

'a'

In [ ]:
#  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
t =(1, 2, 3, 2, 4, 2)
type (t)
t.count (2)

3

In [ ]:
#
type (t2)

tuple

In [22]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals =('dog', 'cat', 'rabbit')
index = animals.index('cat')
print (index)

1

In [ ]:
#  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
t3 = ('apple', 'orange', 'banana')
type (t3)
'banana' in t3

True

In [16]:
#  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
s ={1,2,3,4,5,}
type (s)
s

{1, 2, 3, 4, 5}

In [19]:
# Write a code to add the element 6 to the set {1, 2, 3, 4}.
num ={1,2,3,4}
num.add(6)
print(num)

{1, 2, 3, 4, 6}

In [10]:
#  Write a code to create a tuple with the elements 10, 20, 30 and print it..
t = (10,20,30,)
t

(10, 20, 30)

In [11]:
#  Write a code to create a tuple with the elements 10, 20, 30 and print it.
t = (10,20,30)
t

(10, 20, 30)

In [ ]:
# Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
t=('apple', 'banana', 'cherry')
type(t)

tuple

In [ ]:
t [0]

'apple'

In [12]:
#  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
t =(1, 2, 3, 2, 4, 2)
type (t)
t.count (2)

3

In [23]:
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals =('dog', 'cat', 'rabbit')
index = animals.index('cat')
print (index)

1

In [15]:
# Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
t = ('apple', 'orange', 'banana')
type (t)
'banana' in t

True

In [17]:
# Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
s ={1,2,3,4,5,}
type (s)
s

{1, 2, 3, 4, 5}

In [20]:
#  Write a code to add the element 6 to the set {1, 2, 3, 4}.
num ={1,2,3,4}
num.add(6)
print(num)

{1, 2, 3, 4, 6}